<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:bfz="http://typo3.org/ns/Bolius/BoliusFormZendesk/ViewHelpers"
    data-namespace-typo3-fluid="true">
<div class="t3-form-control-group form-group">
    <label data-random-id data-random-id-attribute="for" data-random-id-number="1"><span data-template-property="label"></span></label>
    <div class="t3-form-controls" data-identifier="inspectorEditorControlsWrapper">

        <template data-template-property="dynamicOptions">
            <option value="0"></option>
            <optgroup label="User data">
                <option value="requester|email" data-title="User email">Email</option>
                <option value="requester|name" data-title="User name">Name</option>
                <option value="tags" data-title="Comma separated list of tags">Tags</option>
            </optgroup>
            <f:format.raw>
                <bfz:zendeskFields optgroupLabel="Ticket fields"/>
                <bfz:zendeskFields fieldType="user" optgroupLabel="User fields"/>
                <bfz:zendeskFields fieldType="organization" optgroupLabel="Organizational fields"/>
            </f:format.raw>
            <option value="external_id" data-title="ID of element in TYPO3">External ID</option>
        </template>
        <select data-random-id data-random-id-attribute="id" data-random-id-number="1" data-template-property="selectOptions" class="form-control"></select>
        <p data-template-property="helperText" style="margin-top: 10px;"></p>
    </div>
</div>
</html>
